

body {
    text-transform: none;
    background-color: #fafafa;
    
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #fff;
}


a {
    text-decoration: none;
}
ul, ol {
list-style-type: none;
}

img {
    display: block;
     max-width: 100%;
      height: auto;
}
a.logo.header-logo {
    margin-right: 76px;
}
.logo  {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo .logo-part {

        color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}
.nav-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
}



.contacts-link {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts {
    text-transform: none;
    font-style: normal;
}

section.main-button {
background-color: #2e2f42;
padding: 188px 0;
    
}

div>h1.main-button-title {
    text-transform: none;
    max-width: 496px;
        margin: 0 auto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
}
 .title-button {
display: block;
    min-width: 169px;
    margin: 0 auto;
    padding: 16px 32px;
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.title-button:focus,
.title-button:hover {
    background-color: #404bbf;;
}
.main-titles {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
/* .main-titles  */
.futures
 {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}
/* .futures */
 .futures-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.main-team {
    background-color: #f4f4fd;
    padding: 120px 0;
}
.team-text {
border-radius: 0 0 4px 4px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background-color: #fff;
}

.footer {
    background-color: #2e2f42;
}
.footer .footer-info {
   
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}



                              /* thirth-homework */ 


                                     /* basic */
.container {
    padding: 0 15px;
    max-width: 1158px;
    margin: 0 auto; 
     box-sizing: border-box;
    
}

                                   /* header */
                                                                   .visually-hidden {
                                                                       position: absolute;
                                                                       width: 1px;
                                                                       height: 1px;
                                                                       margin: -1px;
                                                                       border: 0;
                                                                       padding: 0;
                                
                                                                       white-space: nowrap;
                                                                       clip-path: inset(100%);
                                                                       clip: rect(0 0 0 0);
                                                                       overflow: hidden;
                                                                   }

.header-conteiner {
 display: flex;
justify-content: space-between;
 }

.header-nav {
    display: flex;
    justify-content: space-between;
        align-items: center;
        
}
.header-logo {
    margin-right: 74px;
}
.nav-list {
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    .contacts-list {
       
display: flex;
    gap: 40px;
    } 

     .text-title-list { 
        width: calc((100% - 72px) / 4);
        width: auto;
    }
    .page-header {
       
        padding: 24px 0;
        background-color: #fff;
        border-bottom: #E7E9FC solid 1px;
    }

                                    /* hero */


.text-title-list {
    display: flex;
    padding: 120px 0;
    gap: 24px;
}
 
                                   /* our team */  

h2.team {
    padding-top: 120px;
    padding-bottom: 72px;
}
.main-text {
    padding: 120px 0;
}

.team-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding-bottom: 120px;
}
.main-team {
    margin-bottom: 120px;
}

.text-card {
    text-align: center;
}

.team {
    
    margin-bottom: 72px;
}

.wrap-names {
    padding: 32px 0;
}

.card-names {
    margin-top: 32px;

}

                                   /* portfolio */

h2.portfolio {
margin-bottom: 72px;
}

.portfolio-cadrs {
    max-width: 1158px;
        display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
    margin: 0 auto;    
}
.text-portfolio-cards {
    padding: 32px 16px;
    
}
.names {
    margin-bottom: 8px;
}
 /* .card-border {
  
    border: #E7E9FC solid 1px;
}  */
/* .main-portfolio img {
    display: block;
} */
.main-portfolio {
padding-top: 120px;
    padding-bottom: 120px;
}

                                   /* footer */

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
 
    
}      
.footer-text {
    padding: 100px 0;
}         
.check {
    border: #E7E9FC solid 1px;
    border-top: none;
}
.footer-logo {
    display: inline-block;
}
.footer-info {
    max-width: 264px;
}
a.logo.footer-logo {
    margin-bottom: 16px;
}